body {
  background-color: white;
}

.nav a {
  color: #6c9dd5;
  font-size: 15px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url("src/sky.jpg");
  height: 180px;
  background-repeat: repeat;
  margin: 20px;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
  text-align: left;
}

.jumbotron p {
  font-size: 20px;
  color: #000;
}

.learn-more {
  background-color: #6c9dd5;
  margin: 20px;
  padding: 20px;
}

.learn-more h2 {
  color: #fff;
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #fff;
}

.learn-more p {
  color: black;
}

